body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
.main_header{
    background: white url(../Captain_Vikram_Batra/img/319859.jpg) no-repeat scroll top;
    padding: 8px;
    background-size: cover;
    font-size: 25px;
}
h1{
    text-shadow:0 5px 5px black;
    color: white;
}
.main_header a{
    color: lightblue;
    font-size: 25px;
    text-decoration: none;
}
.main_navigation{
    background: linear-gradient(45deg, darkslategray, black, darkslategray);
    padding: 5px;
    box-shadow: 0 5px 10px black;
    position: sticky;
    top: 0;
}
.main_navigation a{
    padding: 8px 15px;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    color: white;
}
.main_navigation a:hover{
    background: linear-gradient(45deg, darkslategray, rgb(74, 146, 146));
    box-shadow: 0 0 5px black;
    border-radius: 50px;
}
.sidebar{
    background-color: rgb(197, 197, 197);
    float: right;
    box-shadow: 5px 5px 10px black;
    font-size: 18px;
    width: 350px;
    height: 160vh;
    text-align: center;
}
td{
    text-align: left;
    padding: 10px;
}
.sidebar a{
    text-decoration: none;   
}
.sidebar a:hover{
    color: red;
}
.sidebar h1{
    background: linear-gradient(45deg, darkslategray, black, darkslategray);
    padding: 10px;
    font-size: 23px;
    text-align: center;
}
.h1a{
    color: lightblue;
    font-size: 17px;
    text-decoration: none;
}
section{
    padding: 20px;
    background: linear-gradient(90deg, #FF9933, #FFFFFF, #138808);
}
.anchor a{
    text-decoration: none;
}
.anchor a:hover{
    color: red;
}
.article{
    border-bottom: 1px solid black;
}
figure{
    width: 215px;
    border: 1px solid gray; 
    padding: 2px; 
    margin: 0;
}
.img1{
    width: 215px;
    height: 150px;
}
.img1:hover{
    box-shadow: 0 0 10px black;
}
.kargil_war_memorial{
    width: 350px;
}
.img2{
    width: 350px;
    height: 150px;
}
.img2:hover{
    box-shadow: 0 0 10px black;
}
.video1{
    width: 350px;
}
.citation{
    text-align: center;
}
footer{
    background: white url(../Captain_Vikram_Batra/img/abg.jpg) no-repeat scroll center;
    background-size: cover;
    text-align: center;
    padding: 10px;
    margin: 0;
    color: white;
    text-shadow: 0 5px 5px black;
}
footer h3{
    background: linear-gradient(45deg, darkred, black, darkred);
    padding: 15px;
    color: white;
    width: 450px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px white;
}
footer a{
    color: lightblue;
}
.kargil_img_div{
    text-align: center;
}
.kargil_img{
    transition: all 0.5s;
    height: 200px;    
}
.kargil_img:hover{
    transform: scale(2.5) translatex(-100px);
}
.figure_download{
    width: 350px;
    text-align: center;
}
#download_img{
    width: 350px;
}